.navbar-brand{
    border-radius: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 227, 70) ;
    
}
body{
    background-color: rgb(241, 241, 241);
    
}